@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
  }
  
  body, html {
    overflow-x: hidden !important;
    /* scroll-behavior: smooth; */
  }
  
  #smooth-scroll {
    scroll-behavior: smooth;
  }

  /* Ensure View360 has dimensions to render */
  .view360-container.is-16by9 {
    width: 100%;
    min-height: 300px;
  }